<div>
  <span class="badge badge__informative"> Default Informative </span>
  <span class="badge badge__caution"> Default Caution </span>
  <span class="badge badge__neutral"> Default Neutral </span>
  <span class="badge badge__positive"> Default Positive </span>
</div>
<div>
  <span class="badge-small badge__informative"> Small Informative </span>
  <span class="badge-small badge__caution"> Small Caution </span>
  <span class="badge-small badge__neutral"> Small Neutral </span>
  <span class="badge-small badge__positive"> Small Positive </span>
</div>
